<%- contentFor("styleSheet") %>
    <link rel="stylesheet" href="">

<%- contentFor("body") %>
    <h2>This URL has been associated to a short URL</h2>
    <p>Long url: <a href=<%= longURL %>><%= longURL %></a></p>
    <p>Short url: <a href=<%= shortURL %>><%= shortURL %></a></p>